@import 'https://fonts.googleapis.com/css?family=Signika:300,400,700';

body{
	font-family: 'Signika', sans-serif;
	background-color: #F7EDFA;
}

#navbar-top{
	background-color: #BF6BDB;
	border-radius: 0;
  	border: 0;
}
.navbar-brand h1{
	font-size: 1.6em;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #1F2533;
	font-weight: bold;
	margin-left: 40px;
	text-shadow: white 0px 0px 2px;
	letter-spacing: 2px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border:1px solid #8A1C88;
}
#bar-2{
	margin-top: 60px;
	font-size: 1.2em;
}
#bar-2 a{
	background-color: #BF6BDB;
	color: white;
	text-align: center;
}
#bar-2 a:hover{
	background: #E1B4F0;
}
#font-h1{
	color: #1F2533;
	margin-bottom: 40px;
}
#jumbo-box{
	height: 1000px;
	color: #1F2533;
	background-color: #E1C3EB;
	margin: 10px 10px 5px;
	padding-top: 30px;
}
p{
	font-size: 1.2em;
	margin-right: 50px;
	margin-left: 50px;
}
@media (max-width: 767px) {
  /* Header */
  #jumbo-box{
  	margin: 0px 20px 10px;
  }
  p{
  	margin-right: 10px;
  	margin-left: 10px;
  	font-size: 0.8em;
  }
  #navbar-top{
  	margin-right: 10px;
  	margin-left: 10px;
  }
  .navbar-brand h1{
  	margin-left: auto;
  }
  #font-h1{
  	font-size: 1.8em;
  }
  h3{
  	font-size: 1.3em;
  }
}
